.modal_hidden{
    display: none;
}

.modal_visible{
    display: block;
}

.cart_finalize_modal{
    position: absolute;
    top:100px;
    width: 90%;
    background-color: darkgrey;
}

.default_modal{
    background-color: darkgray;
    display: flex;
    height: 100px;
    position: absolute;
    top: 200px;
    width: 100%;
}